.background-container {
/*     background-image: url("../../assets/images/foto_inicio_hero_background.webp"); */
position: relative;
height: 100vh;
overflow: hidden;
.background-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    will-change: transform;
  }
    
    .hero {
        height: 100vh;
        display: flex;
        align-items: center;

        .hero-content {
        position: relative;
        top: 5rem;
        max-width: 600px;
        padding: 2rem;
        animation: fadeIn 1s ease-out;

        h1 {
            
            margin: 1rem 0;
            line-height: 1.1;

            @include respond-to("tablet") {
            font-size: 5rem;
            }
        }

        @include respond-to("tablet") {
            margin-left: 5rem;
        }

        .cta-button {
            margin-top: 1rem;
        }
        }
    }
}
.background-container-inicio {
    background-image: url("../../assets/images/foto_inicio_hero_background.webp");
}

.background-container-matriz-de-riesgos-profesional {
    background-image: url("../../assets/images/foto_matriz_de_riesgos_profesional_hero_background.webp");
}

.background-container-profesiograma {
    background-image: url("../../assets/images/foto_profesiograma_hero_background.webp");
}
.background-container-examenes_medicos_ocupacionales {
    background-image: url("../../assets/images/foto_examenes_medicos_ocupacionales_hero_background.webp");
    background-blend-mode: lighten;
    background-color: rgb(222 222 222 / 45%);
}

.background-bateria-de-riesgo-psicosocial {
    background-image: url("../../assets/images/foto_bateria_de_riesgo_psicosocial_hero_background.webp");
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.237);
}

.background-analisis-puesto-de-trabajo {
    background-image: url("../../assets/images/foto_analisis_de_puesto_de_trabajo_background.webp");
    background-blend-mode: lighten;
    background-color: rgb(222 222 222 / 45%);
}

.background-enrollment {
    background-image: url("../../assets/images/foto_enrollment_background.webp");
    background-blend-mode: lighten;
    background-color: rgb(222 222 222 / 45%);
}

.background-informacion-legal {
    background-image: url("../../assets/images/foto_informacion_legal_background.webp");
    background-blend-mode: lighten;
    background-color: rgb(222 222 222 / 45%);
}

.background-nosotros {
    background-image: url("../../assets/images/foto_nosotros_background.webp");
    background-blend-mode: lighten;
    background-color: rgb(222 222 222 / 45%);
}

.background-perdida_de_capacidad_laboral {
    background-image: url("../../assets/images/foto_perdida_de_capacidad_laboral_background.webp");
    background-blend-mode: lighten;
    background-color: rgb(222 222 222 / 45%);
}

.background-servicios {
    background-image: url("../../assets/images/foto_servicios_background.webp");
    background-blend-mode: lighten;
    background-color: rgb(222 222 222 / 45%);
}

.background-sst {
    background-image: url("../../assets/images/foto_sst_background.webp");
    background-blend-mode: lighten;
    background-color: rgb(222 222 222 / 45%);
}
.background-examen-medico-escolar {
    background-image: url("../../assets/images/foto_examen_medico_escolar_background.webp");
    background-blend-mode: lighten;
    background-color: rgb(222 222 222 / 45%);
}
.background-genesys-bi {
    background-image: url("../../assets/images/foto_genesysbi_background.webp");
    background-blend-mode: lighten;
    background-color: rgb(222 222 222 / 45%);
}




