.informacion-text {
    width: 100%;
    margin: 0 auto;
    padding: 16rem;
    background-color: #edf0e9;
  
    .text-container {
      h2 {
        font-family: map-get($fonts, "title");
        font-size: 3.2rem;
        color: map-get($colors, "secondary");
        font-weight: 800;
        margin-bottom: 2rem;
        text-align: center;
      }
  
      p {
        font-size: 1.6rem;
        line-height: 1.6;
        font-weight: 500;
        margin-bottom: 3rem;
        text-align: justify;
      }
      }
  }