@use "sass:map";
@use "../base/variables";

.steps {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: map.get(variables.$colors, "background");
    .step-card {
        background-color: #fff2fe;
        border-radius: 12px;
        padding: 1rem;
        max-width: 210px;
        height: 220px;
        text-align: center;
        position: relative;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin: 7rem 2rem;
        hyphens: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0.1;
        transform: translateY(20px);
        transition: opacity 0.5s ease, transform 0.5s ease;

        h3 {
        color: map.get(variables.$colors, "primary");
        position: absolute;
        top: -80px;
        transform: translateY(-25%);
        transform-origin: left center;
        white-space: nowrap;
        font-size: 2rem;
        font-family: map.get(variables.$fonts, "title");
        font-weight: 800;
        text-align: center;
        transition: 0.2s;
        }

        h4 {
        font-family: map.get(variables.$fonts, "body");
        font-size: 11px;
        color: map.get(variables.$colors, "alternative");
        background-color: map.get(variables.$colors, "primary");
        border-radius: 23px;
        padding: 10px 10px;
        position: absolute;
        top: -20px;
        text-align: center;
        width: 150px;
        transition: 0.2s;
        }

        p {
        position: relative;
        font-family: map.get(variables.$fonts, "body");
        font-weight: 500;
        padding: 0;
        height: max-content;
        text-align: center;
        transition: 0.2s;
        width: 99%;
        font-size: 1.4rem;
        top: 15%;
        transform: translateY(-50%);
        }

        .cta-button {
        position: absolute;
        margin-top: 60%;
        font-family: map.get(variables.$fonts, "title");
        font-size: 12px;
        padding: 7px;
        height: 53px;
        width: 150px;
        border-radius: 12px;
        background-color: map.get(variables.$colors, "alternative");
        color: map.get(variables.$colors, "text");
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: 0.2s;
        }

        &:hover {
            box-shadow: 0 10px 20px map.get(variables.$colors, "text");
            background-color: map.get(variables.$colors, "primary");
            
            h3 {
            font-size: 3rem;
            top: -90px;
        }

        h4 {
            background-color: map.get(variables.$colors, "alternative");
            color: map.get(variables.$colors, "text");
        }

        p {
            color: map.get(variables.$colors, "alternative");
            font-weight: 800;
        }
        }
        
        &.visible {
            opacity: 1;
            transform: translateY(0);
        }
        &:hover{
            transform: translateY(-25px);
            
        }
    }
}

.steps-services{
    padding: 3rem;
    h3{
        white-space: pre-wrap;
        font-size: 28px;
    }
}
