@use "sass:map";
@use "../base/mixins";
@use "../base/variables";

.mujeres-lideres {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    position: relative;
    padding: 0.5rem;
    background-color: #e6f0e1;
    min-height: 320px;
    padding-bottom: 20px;

    .mujeres-lideres-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3rem;
        align-self: center;
        justify-content: center;
        justify-items: center;

        .text-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 80vw;
        max-width: 500px;
        }
    }

    h2 {
        font-family: map.get(variables.$fonts, "title");
        text-align: left;
        align-content: center;
        align-items: center;
        padding-top: 0;
        margin-top: 0;
        line-height: 100%;
        font-size: 2.6rem;
        color: map.get(variables.$colors, "secondary");
        font-weight: 800;
        max-width: 600px;
    }

    p {
        max-width: 600px;
    }

    .features {
        display: grid;
        align-items: center;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 1rem;
        width: 100%;
    }

    .feature {
        padding: 2rem;
        text-align: left;
        height: fit-content;
        width: fit-content;
        align-self: baseline;

        &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        h3 {
        font-family: map.get(variables.$fonts, "title");
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: map.get(variables.$colors, "primary");
        }

        p {
        font-size: 1.1rem;
        hyphens: none;
        line-height: 150%;
        font-weight: 500;
        }

        .icon {
        width: 7rem;
        height: 7rem;
        margin-bottom: 1rem;

        svg {
            width: 100%;
            height: 100%;
            stroke: map.get(variables.$colors, "primary");
            fill: map.get(variables.$colors, "primary");
            transition: transform 0.3s ease;
        }
        }
    }

    .image-content {
        img {
        max-width: 400px;
        height: auto;
        }
    }
}

@include mixins.respond-to("tablet") {
    .section-women-leaders {
        .women-leaders-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        }

        .text-content {
        width: 50%;
        }

        .image-content {
        width: 45%;
        }
    }
}
