// _calculator.scss

// Mixin para checkbox personalizado
@mixin custom-checkbox {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    appearance: none;
    border: 2px solid map-get($colors, "primary");
    border-radius: 0.4rem;
    position: relative;
    transition: all 0.2s ease;

    &:checked {
        background-color: map-get($colors, "primary");

        &::after {
            content: "✓";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 1.4rem;
        }
    }
    }

    .calculator {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 2rem;
    background-color: map-get($colors, "background-alternative");
    

    &-header {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;


        h1 {
            font-family: map-get($fonts, "title");
            font-size: 2.8rem;
            color: map-get($colors, "secondary");
            line-height: 1.3;
            text-align: left;
            
            @include respond-to("tablet") {
                font-size: 2.8rem;
            }
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 3rem;


        @include respond-to("tablet") {
            flex-direction: row;
            align-items: self-start;
        }
    }

    &-form {
        flex: 1;
        max-width: 50rem;
        align-items: center;
        
        .section-calculator {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.2rem;
        }
    }

    .job-positions {
        margin-bottom: 2rem;
        padding: 2rem;
    }
    .cargo {
        margin-bottom: 2rem;
    .cargo-encabezado{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .cargo-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.8rem;
            height: 4.6rem;
            width: 100%;
            max-width: 320px;
            color: map-get($colors, "secondary");
            background-color: map-get($colors,"background");
            border-radius: 5rem;
            border: solid 3px map-get($colors, "primary");
    
            .cargo-name {
                max-width: 17.2rem;
                flex: 1;
                height: 3rem;
                justify-content: center;
                text-align: center;
                border: none;
                border-radius: 1.5rem;
                font-size: 1.2rem;
                font-family: map-get($fonts, "title");
                background-color: map-get($colors,"background");

    
                &:focus {
                    outline:  none;

                }
            }
            .numero-trabajadores{
                display: flex;
                flex-direction: row;
                flex-wrap:nowrap;
                justify-content: space-around;
                h4{
                    max-width: 40rem;
                    font-size: 1rem;
                    margin-top: 1rem;
                }
            }
                input[type="number"] {
                    margin-left: 0.4rem;
                    height: 3rem;
                    width: 5.7rem;
                    padding: 0.8rem;
                    border: 1px solid map-get($colors, "input-border");
                    border-radius: 1.2rem;
                    text-align: center;
                    font-size: 1.4rem;
                }
            .cargo-controls {
                display: flex;
                align-items: center;
                
    
                button {
                    position: relative;
                    
                    width: 3.8rem;
                    height: 3rem;
                    border-radius: 50%;
                    border: none;
                    background-color: map-get($colors, "background");
                    color: map-get($colors, "secondary");
                    font-size: 2.5rem;
                    font-weight: 800;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    padding-bottom: 3.8rem;
    
                    &:hover {
                        background-color: map-get($colors, "primary");
                        color: white;
                    }
                }
            }
        }
        button {
            position: relative;
            right: -0.7rem;
            width: 3.8rem;
            height: 3rem;
            border-radius: 50%;
            border: none;
            background-color: map-get($colors, "background");
            color: map-get($colors, "secondary");
            font-size: 2.5rem;
            font-weight: 800;
            cursor: pointer;
            transition: all 0.3s ease;
            padding-bottom: 3.8rem;
            &.delete-cargo {
                top: .8rem;
                width: 3.3rem;
                height: 2rem;
                font-size: 2rem;
                padding-bottom: 3rem;
                right: -3px;
                background-color: #ff4444;
                color: white;

                &:hover {
                    background-color: darken(#ff4444, 10%);
                }
            }
        }
    }
        .cargo-body {
            padding-top: 2rem;
            transition: all 0.3s ease-in-out;
            max-height: 1000px;
            opacity: 1;
            overflow: hidden;
    
            h4 {
                font-size: 1.8rem;
                color: map-get($colors, "secondary");
                margin-bottom: 0.5rem;
                font-family: map-get($fonts, "title");
            }
    
            .exam-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(4rem, 2fr));
                row-gap: 0.1rem;
                column-gap: 1.5rem;
                padding: 1rem;
    
                .checkbox-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.5rem;
                    padding: 1rem;
                    transition: all 0.3s ease;
                    
    
                    &:hover {
                        transform: translateY(-0.3rem);
                        box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
                    }
    
                    label {
                        font-family: map-get($fonts, "body");
                        font-size: 1.4rem;
                        font-weight: 600;
                        color: map-get($colors, "secondary");
                    }
    
                    input[type="checkbox"] {
                        @include custom-checkbox;
                    }
                }
            }
    
            &.hidden {
                max-height: 0;
                opacity: 0;
                padding-top: 0;
                padding-bottom: 0;
                margin: 0;
            }

        }
    }

    .exam-checkboxes {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(4rem, 2fr));
        row-gap: 1rem;
        column-gap: 1.5rem;
        padding: 1rem;

        .checkbox-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            padding: 1rem;
            background-color: white;
            border-radius: 0.8rem;
            transition: all 0.3s ease;

            &:hover {
                transform: translateY(-0.3rem);
                box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
            }

            label {
                font-family: map-get($fonts, "body");
                font-size: 1.4rem;
                font-weight: 600;
                color: map-get($colors, "secondary");
            }

            input[type="checkbox"] {
                @include custom-checkbox;
            }
        }
    }

    &-summary {
        flex: 1;
        min-width: none;
        max-width: 480px;


        @include respond-to("tablet") {
            position: sticky;
            top: 2rem;
            overflow-y: auto;
            @include hide-scrollbar;
        }

        .exam-description {
            margin-bottom: 2rem;

            h3 {
                font-size: 2rem;
                color: map-get($colors, "secondary");
                font-family: map-get($fonts, "title");
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.4rem;
                color: map-get($colors, "text");
                line-height: 1.5;
            }
        }

        .exam-price {
            font-size: 2.4rem;
            color: map-get($colors, "primary");
            font-weight: 700;
            margin-bottom: 2rem;
        }

        .package-summary {
            .package-item {
                padding: 1.5rem;
                margin-bottom: 1.5rem;
                background-color: map-get($colors, "background");
                border-radius: 0.8rem;

                h4 {
                    font-size: 1.8rem;
                    color: map-get($colors, "secondary");
                    margin-bottom: 1rem;
                }

                p {
                    font-size: 1.4rem;
                    color: map-get($colors, "text");
                    margin-bottom: 0.5rem;
                }
            }
        }

        .discount-options {
            margin: 2rem 0;
            padding: 2rem;
            background-color: lighten(map-get($colors, "primary"), 42%);
            border-radius: 1rem;

            .discount-option {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid rgba(map-get($colors, "secondary"), 0.1);
                &.info-only {
                    background-color: lighten(map-get($colors, "primary"), 45%);
                    padding: 1rem;
                    border-radius: 0.6rem;
                    
                    .discount-text {
                        font-size: 1.4rem;
                        color: map-get($colors, "secondary");
                        
                        span {
                            font-weight: 700;
                            color: map-get($colors, "primary");
                        }
                    }
                }
                
                &:last-child {
                    border-bottom: none;
                }

                label {
                    font-size: 1.4rem;
                    color: map-get($colors, "secondary");
                }

                input[type="checkbox"] {
                    @include custom-checkbox;
                }
            }
        }

        .total {
            margin-top: 3rem;
            padding: 2rem;
            background-color: lighten(map-get($colors, "primary"), 35%);
            border-radius: 0.8rem;

            p {
                &:first-child {
                    font-size: 1.6rem;
                    color: map-get($colors, "secondary");
                    margin-bottom: 1rem;
                }

                &.total-price {
                    font-size: 3.2rem;
                    font-weight: 700;
                    color: map-get($colors, "primary");
                    text-align: center;
                }
            }
        }

        .btn-download {
            width: 100%;
            margin-top: 2rem;
            padding: 1.5rem;
            background-color: map-get($colors, "primary");
            color: white;
            font-size: 1.6rem;
            border: none;
            border-radius: 2.5rem;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: darken(map-get($colors, "primary"), 10%);
                transform: translateY(-2px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }
}
.btn-add {
    align-self: center;
    justify-self: center;
    width: 100%;
    margin-top: 1.8rem;
    padding: 2rem;
    font-family: map-get($fonts, "Poppins");
    font-weight: 800;
    background-color: map-get($colors, "primary");
    color:map-get($colors, "secondary");
    font-size: 1.6rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: darken(map-get($colors, "primary"), 10%);
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

