.background-container {
/*     background-image: url("../../assets/images/foto_inicio_hero_background.webp"); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    min-height: 500px;
    
    .hero {
        height: 100vh;
        display: flex;
        align-items: center;

        .hero-content {
        position: relative;
        top: 5rem;
        max-width: 600px;
        padding: 2rem;
        animation: fadeIn 1s ease-out;

        h1 {
            
            margin: 1rem 0;
            line-height: 1.1;

            @include respond-to("tablet") {
            font-size: 5rem;
            }
        }

        @include respond-to("tablet") {
            margin-left: 5rem;
        }

        .cta-button {
            margin-top: 1rem;
        }
        }
    }
}
.background-container-inicio {
    background-image: url("../../assets/images/foto_inicio_hero_background.webp");
}

.background-container-matriz-de-riesgos-profesional {
    background-image: url("../../assets/images/foto_matriz_de_riesgos_profesional_hero_background.webp");
}

.background-container-profesiograma {
    background-image: url("../../assets/images/foto_profesiograma_hero_background.webp");
}
.background-container-examenes_medicos_ocupacionales {
    background-image: url("../../assets/images/foto_examenes_medicos_ocupacionales_hero_background_2.webp");
    background-blend-mode: lighten;
    background-color: rgb(222 222 222 / 45%);
}