@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/poppins-v21-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/poppins-v21-latin-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/poppins-v21-latin-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/poppins-v21-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/poppins-v21-latin-800.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/raleway-v34-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/raleway-v34-latin-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/raleway-v34-latin-600.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/raleway-v34-latin-700.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/raleway-v34-latin-800.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}


h1{
    font-size: 3.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: map-get($fonts, "title");
    line-height: 1.2;
    font-weight: 800;
    color: map-get($colors, "secondary");
}

p {
    font-family: map-get($fonts, "title");
    font-size: 1.6rem;
    margin: 2.5rem 0;
    font-weight: 400;

}

.green {
    color: map-get($colors, "primary");
}
