// Base
@use 'base/variables';
@use 'base/mixins';
@use 'base/reset';
@use 'base/typography';

// Components
@use 'components/buttons';
@use 'components/dropdown';
@use 'components/whatsapp';

// Layout
@use 'layout/header';
@use 'layout/footer';

// Sections
@use 'sections/info_legal';
@use 'sections/clients';
@use 'sections/faqs';
@use 'sections/location';

// Utilities
@use 'utilities/helpers';
@use 'utilities/animations';