
// Base
@use 'base/variables';
@use 'base/mixins';
@use 'base/reset';
@use 'base/typography';

// Components
@use 'components/calculadora';
@use 'components/floating-bubble';
@use 'components/buttons';
@use 'components/dropdown';
@use 'components/whatsapp';

// Layout
@use 'layout/header';
@use 'layout/footer';

// Sections
@use 'sections/program-description-service';
@use 'sections/clients';
@use 'sections/faqs';
@use 'sections/location';
@use 'sections/exams';
@use 'sections/calculator-instructions';

// Utilities
@use 'utilities/helpers';
@use 'utilities/animations';