
// Base
@import 'base/variables';
@import 'base/mixins';
@import 'base/reset';
@import 'base/typography';

// Components
@import 'components/calculadora';
@import 'components/floating-bubble';
@import 'components/buttons';
@import 'components/dropdown';
@import 'components/whatsapp';

// Layout
@import 'layout/header';
@import 'layout/footer';

// Sections
@import 'sections/program-description-service';
@import 'sections/clients';
@import 'sections/faqs';
@import 'sections/location';
@import 'sections/exams';
@import 'sections/calculator-instructions';

// Utilities
@import 'utilities/helpers';
@import 'utilities/animations';