@mixin respond-to($breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @if $value != null {
        @media screen and (min-width: $value) {
        @content;
        }
    } @else {
        @warn "Unknown breakpoint: #{$breakpoint}.";
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
