* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: map-get($fonts, "body");
    background-color: map-get($colors, "background");
    color: map-get($colors, "text");
    line-height: 1.3;
    width: 100%;
    overflow-x: hidden;
    max-width: 2560px;
}

img {
    max-width: 100%;
    height: auto;
}
